.clienthome{
  display: flex;
  flex-direction: row !important;
  background: #f1f1f1;
}
.homeContainer{
  flex: 6;
  
}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 80%;
  height: 36px;
  margin-left:120px;
}
.welcome h3{
  
  width: 100%;
  height: 36px;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 36px;
  color: #000000;
}
.name{
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 29px;
  color: #000000;
}
.widg{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  gap:20px;
}
.topServices{
  width:80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.topServices h3{
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 41px;
  color: #000000;
}
.allCategories{
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 22px;
  color: #022060;
  text-decoration: none;
}

/* .charts{
  padding: 5px 20px;
} */